.App {
  text-align: center;
}

.App-header {
  background-color: #939599;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: black;
}

h2 {
  color: black;
}


.section {
  display: flex;
  align-items: center;
}

.text-box {
  background-color: black;
  width: 700px;
  height: 400px;
  margin: auto;
  border: 3px solid #73AD21;
}

img {
  height: 400px;
  width: 700px;
  margin-left: 5%;
  display: inline-block;
}


.container {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
